<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wing.ydt"
      android:versionCode="2"
      android:versionName="1.1">
    <application android:icon="@drawable/icon"  android:screenOrientation="portrait" android:label="@string/app_name">
        <activity android:name=".view.SplashActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".view.WMessageActivity"   android:screenOrientation="portrait"  android:label="@string/wmessage"></activity>
    <activity android:name=".view.ListWMessListActivity"   android:screenOrientation="portrait"  android:label="@string/wmesslist"></activity>
    <activity android:name=".view.MessageActivity"   android:screenOrientation="portrait"  android:label="@string/message"></activity>
    <activity android:name=".view.ListMessActivity"   android:screenOrientation="portrait" android:label="@string/search_messages"></activity>
	
	<meta-data android:value="0e36fd60e950461f9697e2484239445a" android:name="GH_APPKEY" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- Guohead SDK for Youmi -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest> 